<center>
<h1>Homepage</h1>

<%= link_to "create your own gossip motherducker !", new_gossip_path,  class: "btn btn-primary" %>
</center>

<div class="index">
<% Gossip.all.each do |el| %>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">
      <%= el.title %>
    </h5>
    <p class="card-text"> by :
      <%= el.user.first_name %>
    </p>
    <%= link_to "view", gossip_path(el.id),  class: "btn btn-primary" %>
    <%= link_to "edit", edit_gossip_path(el.id),  class: "btn btn-warning" %>
    <%= link_to "destroy", gossip_path(el.id), method: "delete", data: { confirm: 'Are you sure?'},  class: "btn btn-danger" %>
  </div>
</div>
<% end %>
</div>
