<center>
<h1>Users</h1>

<br />

<h2> Welcome to the user page of 
  <br />
  <u> <%= @user.first_name %> <%= @user.last_name.upcase %> </u>
</h2>

<p> age : <%= @user.age %> </p>
<p> email : <%= @user.email %> </p>
<p> city : <%= @user.city.name %> </p>
<p> description : <%= @user.description %> </p>
</center>