<div class="welcome-container">
<h1>NEW GOSSIP</h1>
</div>

<center>
<%= form_for :gossip, url: gossips_path do |form| %>
  <label for="title">Gossip title</label>
  <%= form.text_field :title %>
  <br />
  <label for="content">Gossip content</label>
  <%= form.text_area :content, size: "60x10" %>
  <br />
  <label for="content">Select a tag</label>
  <%= form.select(:tag, Tag.all.map {|el|[el.title, el.title]}) %>
  <br />
  <%= form.submit %>
<% end %>
</center>