<div class="container-welcome">
<h1>Gossip</h1>
</div>

<div class="container-gossip">
<div class="gossip-infos">
<h2><%= @gossip.title %></h2>
<h6>"<%=@gossip.content%>"</h6>
<p> by : 
  <%= link_to @gossip.user.first_name, user_path(@gossip.user.id) %>
</p>
<p>created : <%= @gossip.created_at %></p>

<p> Tags : </p>
<% @tags.each do |el|%>
  <li>
  <%= el %>
  </li>
  <% end %>
</div>


<div class="gossip-comments">
<p> Il y a <%= @count %> commentaires, sur ce gossip</p>

<% if !logged_in? %>
<%= form_tag(gossip_comments_path(@id), method: 'post') do %>
  <%= text_area_tag(:content) %>
  
  <%= submit_tag("Submit") %>
<% end %>
<% end %>


<% @comments.each do |el| %>

  <li>
  <%= el.content %>
  (<%= el.user.first_name %>)
  <% if !logged_in? %>
  <% if current_user.id == el.user.id %>
  <%= link_to "edit", edit_gossip_comment_path(@gossip.id,el.id),  class: "btn btn-sm btn-warning" %>
  <%= link_to "destroy", gossip_comment_path(@gossip.id,el.id), method: "delete", data: { confirm: 'Are you sure?'},  class: "btn btn-sm btn-danger" %>
  <% end %>
  <% end %>
  </li>
 
<% end %>



</div>
</div>